body {
  font-family: spotify-circular, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.header {
  width: 100%;
  height: 80px;
  background-color: black;
  margin: 0;
  padding: 0;
}
.header a img {
  display: inline-block;
  width: 132px;
  height: 48px;
  margin-left: 180px;
  margin-top: 18px;
}
.container {
  width: 100%;
  height: 500px;
  padding: 40px 0;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  justify-content: center;
}
.content {
  width: 80%;
  height: 470.4px;
  margin: auto;
}

.heading h1 {
  color: #222326;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: -0.02em;
  line-height: 1.2;
  margin-top: 0px;
  width: 40%;
  padding-left: 100px;
  margin: auto;
}

.heading p {
  margin: 0.5em 0 1em;
  display: block;
  padding-top: 0px;
  margin-top: 18px;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #222326;
}
.email-Con {
  width: 585px;
  height: 316px;
  position: absolute;
  margin-top: 20px;
  margin-left: 270px;
}

.email-Con label {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #000;
}
.email-Con input {
  display: block;
  width: 555px;
  height: 26px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.5;
  color: #222326;
  background-color: #fff;
  border: 1px solid #d9dadc;
  border-radius: 0;
}
.captcha {
  display: block;
  width: 585px;
  height: 78px;
  text-align: left;
  margin-top: 12px;
}

.captcha img {
  height: 55px;
  margin: 0 13px 0 13px;
  width: 55px;
  margin-top: 15px;
}

.inner-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 304px;
  height: 70px;
  border: 1px solid rgb(229, 229, 229);
  background-color: #f5f5f5;
}
.checkBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 12px;
}
.checkBox input {
  margin-right: 18px;
  width: 28px;
  height: 28px;
  top: 50%;
  left: 50%;
}

.send-div {
  width: 555px;
  height: 48px;
  margin: 50px 0px 0px;
  display: flex;
  justify-content: center;
}
.send-div button {
  width: 160px;
  border-radius: 500px;
  letter-spacing: 2px;
  background-color: #1db954;
  color: #fff;
  font-size: 16px;
  line-height: 1;
  font-weight: bold;
  border: 0px;
  cursor: pointer;
}
.send-btn:hover {
  background-color: #22db63;
}
.support {
  width: 60%;
  margin: 24px auto;
}
.support p a {
  color: #1db954;
  text-decoration: none;
  font-weight: 400;
}
.support p a:hover {
  color: #22db63;
}

.footer {
  width: 100%;
  height: 70px;
  padding: 30px 0 20px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-foot {
  width: 1170px;
  height: 62px;
  display: flex;
  justify-content: space-between;
}

.left-div {
  width: 652px;
  height: 42px;
  float: left !important;
}
.left-div li {
  float: left !important;
  position: relative;
  display: block;
  margin-top: 12px;
}
.left-div li a {
  display: inline;
  font-weight: 400;
  font-size: 12px;
  color: #919496;
  list-style: none;
  margin-right: 20px;
  text-decoration: none;
}
.left-div li a:hover {
  color: #22db63;
}

.right-div {
  width: 180px;
  height: 62px;
}
.india {
  width: 60px;
  height: auto;
  display: inline-flex;
  justify-content: space-between;
  float: right;
  cursor: pointer;
}

.india a {
  font-weight: 400;
  width: auto;
  font-size: 12px;
  vertical-align: middle;
  color: #919496;
  text-decoration: none;
  margin-top: 8px;
}
.india a:hover {
  color: #22db63;
}
.india img {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  font-size: 18px;
  height: 1.5em;
  width: 1.33333333em;
}

.right-div p {
  font-weight: 400;
  width: auto;
  font-size: 12px;
  vertical-align: middle;
  color: #919496;
  margin-top: 8px;
  display: block;
  padding: 1em 0;
  text-align: right;
  float: right !important;
  margin: 0px 0px 0px 48px;
}

.emailError,
.captchaError {
  color: red;
  font-size: 0.775rem;
  line-height: 1.25rem;
  text-transform: none;
  letter-spacing: normal;
  box-sizing: border-box;
  margin-top: 0px;
  font-weight: 600;
}
