body {
  font-family: spotify-circular, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header {
  padding: 25px 0px 0px;
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
}

.head {
  padding: 0px 0px 12px;
  height: 56px;
  display: flex;
  justify-content: center;
}
.logo {
  height: 43px;
  width: 140px;
  margin-top: 12px;
  margin-bottom: 0px;
}
.header h1 {
  text-align: center;
  line-height: 36px;
  letter-spacing: -0.04em;
  margin-top: 40px;
  font-size: 32px;
  font-weight: 700;
  display: block;
  padding: 0px;
  margin-bottom: 0px;
}
.signUp-btns {
  width: 100%;
  height: auto;
}

.fb {
  width: 390px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgb(59, 89, 152);
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 500px;
  border: 1px solid #878787;
  margin: 18px auto;
}
.fb:hover {
  border: 1px solid black;
}

.fb p {
  font-size: 0.89rem;
  font-weight: bold;
  letter-spacing: 0.3px;
  color: white;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
}

.fb p img {
  width: 20px;
  height: 20px;
  border-radius: 500px;
}

.google {
  background-color: white;
}
.google p {
  color: #878787;
}

.or {
  display: flex;
  flex-direction: row;
  width: 390px;
  margin: auto;
}

.or hr {
  margin: 12px 0px 20px;
  flex: 1 1 0%;
  border-top: 0.6px solid #878787;
  display: block;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}
.or span {
  flex: 0.3 1 0%;
  align-self: center;
  text-align: center;
  line-height: 1px;
  font-weight: 700;
  font-size: 12px;
  color: #878787;
  text-transform: uppercase;
}

/* FORM START */

.signUp-form {
  width: 450px;
  height: 1602px;
  margin: auto;
  display: block;
  margin-top: 0em;
  padding-top: 16px;
}

.email-con {
  padding-bottom: 24px;
  width: 450px;
  height: auto;
  margin-bottom: 0px;
  margin-top: 4px;
  /* border: 2px solid greenyellow; */
}
.email-con p,
.birth,
.gender-line {
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: normal;
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 5px;
  color: inherit;
  font-weight: bold;
}

.email-con input {
  width: 450px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #878787;
}
.email-con input:hover {
  border: 1px solid black;
}

.email-con a {
  text-decoration: underline;
  cursor: pointer;
  color: #117a37;
  font-size: 14px;
  padding-top: 8px;
}

.line {
  margin-top: -22px;
  font-size: 12px;
  font-weight: 500;
}
.DOB {
  height: 130px;
  margin-top: 28px;
}
.date {
  height: 80px;
  display: flex;
  justify-content: space-between;
}
.year,
.day {
  width: 240px;
}
.month {
  width: 100%;
}
.box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
}

.box p {
  margin-top: 0px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
}

.year input {
  width: 112px;
  height: 70px;
  font-weight: 400;
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 4px;
  padding: 14px;
  border: 1px solid #878787;
}
.day input {
  width: 90px;
  height: 52px;
  font-weight: 400;
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 4px;
  padding: 14px;
  border: 1px solid #878787;
}
.month select {
  width: 202.2px;
  height: 62px;
  font-weight: 400;
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 4px;
  padding: 14px;
  border: 1px solid #878787;
}

.gender {
  margin-top: 8px;
  width: 350px;
  height: auto;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  padding-bottom: 4px;
  padding-top: 4px;
  position: relative;
  margin-bottom: 20px;
}

.gender input {
  align-items: center;
  display: flex;
  position: relative;
  width: 15px;
  accent-color: #117a37;
}

.gender label {
  font-size: 14px;
  font-weight: 400;
  margin-left: 2px;
}

.inner-gen {
  width: 80%;
  height: 20px;
  position: relative;
  display: inline-flex;
}

.tick {
  padding: 12px;
  align-items: center;
  display: flex;
  padding-bottom: 4px;
  padding-top: 4px;
  position: relative;
}

.tick input {
  margin-right: 12px;
  width: 20px;
  height: 16px;
  border-width: 0px;
  accent-color: #1ed760;
  background-color: white;
}

.tick p {
  display: inline;
  font-size: small;
  font-weight: 700;
}

.captcha {
  display: block;
  width: 585px;
  height: 78px;
  text-align: left;
  margin-top: 12px;
  margin-bottom: 14px;
}

.captcha img {
  height: 55px;
  margin: 0 13px 0 13px;
  width: 55px;
  margin-top: 15px;
}

.inner-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 304px;
  height: 70px;
  border: 1px solid rgb(229, 229, 229);
  background-color: #f5f5f5;
}
.checkBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 12px;
}
.checkBox input {
  margin-right: 18px;
  width: 28px;
  height: 28px;
  top: 50%;
  left: 50%;
}

.footer {
  width: 450px;
  height: 250px;
}

.TC p {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.25px;
  text-align: center;
  color: inherit;
}

.TC a {
  color: rgb(29, 185, 84);
}
.TC a:hover {
  color: #22db63;
}
.send-div {
  width: 450px;
  height: 120px;
  margin: 50px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.send-div button {
  width: 151.9px;
  height: 56px;
  border-radius: 500px;
  letter-spacing: 2px;
  background-color: #22db63;
  color: #000;
  font-weight: 400;
  font-size: 13px;
  line-height: 1;
  border: 0px;
  cursor: pointer;
  font-weight: bold;
}
.send-btn:hover {
  width: 158px;
  height: 58px;
  font-weight: bolder;
}

.send-div p {
  box-sizing: border-box;
  display: block;
  padding: 0px 0px 1em;
  margin-top: 27px;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
}
.send-div p a {
  color: #1ed760;
}
.send-div p a:hover {
  color: #22db63;
}
